# 3차 trial_visit_info

- 결측 제거

- 중복 제거 
  - 모든 컬럼이 같은 값 날리기 
  - 유저별 날짜기준 같은 날 2번이상 최초 출입/퇴소 이력이 있을 시 stay time을 계산하여 가장 긴 것만 남기기

- 72시간 이상 유저 다시 탐색
    - (유저별 날짜 기준 첫 등장하는 first) - (유저별 날짜기준 마지막으로 등장하는 leave)
    - 해당 유저 id를 뽑아서 결제이력 확인

In [2]:
import pandas as pd

df = pd.read_csv(r"C:\Users\nuwba\Desktop\Codeit_4\중급2_프로젝트\중급_2\trial_visit_info.csv")

df

,site_id,date,stay_time,stay_time_second,first_enter_time,last_leave_time,user_uuid
0,1,2023-12-23,01:11:19.983486,4279,2023-12-23 16:11:25.345793,2023-12-23 17:25:32.233995,939fc566-61cd-47f0-a3ce-e2936fdcff73
1,1,2023-12-24,04:35:10.361341,16510,2023-12-24 16:10:45.668026,2023-12-24 20:53:34.842447,939fc566-61cd-47f0-a3ce-e2936fdcff73
2,1,2023-12-25,02:09:54.117163,7794,2023-12-25 10:19:47.087268,2023-12-25 12:39:51.221372,939fc566-61cd-47f0-a3ce-e2936fdcff73
3,1,2023-12-23,04:37:36.134901,16656,2023-12-23 14:49:40.302823,2023-12-23 19:27:39.406803,ba49324f-d317-4053-adf9-2b17b3f07594
4,3,2023-12-26,04:32:05.289251,16325,2023-12-26 14:57:10.220793,2023-12-26 19:34:36.971542,ba49324f-d317-4053-adf9-2b17b3f07594
...,...,...,...,...,...,...,...
11472,6,2022-06-16,06:47:59.975925,24479,2022-06-16 11:00:48.643935,2022-06-16 18:23:38.495290,766221e7-a753-444f-aa5a-ae76ce86d3fd
11473,6,2022-06-17,01:28:46.221537,5326,2022-06-17 17:15:05.221223,2022-06-17 18:56:00.840639,0a70277f-a7f9-401c-95fa-ed6d96ee32e0
11474,6,2022-06-16,05:08:03.166662,18483,2022-06-16 12:52:46.557742,2022-06-16 18:23:34.355309,0a70277f-a7f9-401c-95fa-ed6d96ee32e0
11475,6,2023-02-06,06:30:29.693768,23429,2023-02-06 10:14:00.538281,2023-02-06 16:52:37.606175,576473bb-0647-483e-b06a-a5ff6491b08b
11476,6,2022-04-20,07:48:04.922610,28084,2022-04-20 13:24:06.222380,2022-04-20 23:59:59,ac90eb79-233a-47e0-99c7-c8f7b8372a57

In [3]:
df_clean = df.dropna()

df_clean

,site_id,date,stay_time,stay_time_second,first_enter_time,last_leave_time,user_uuid
0,1,2023-12-23,01:11:19.983486,4279,2023-12-23 16:11:25.345793,2023-12-23 17:25:32.233995,939fc566-61cd-47f0-a3ce-e2936fdcff73
1,1,2023-12-24,04:35:10.361341,16510,2023-12-24 16:10:45.668026,2023-12-24 20:53:34.842447,939fc566-61cd-47f0-a3ce-e2936fdcff73
2,1,2023-12-25,02:09:54.117163,7794,2023-12-25 10:19:47.087268,2023-12-25 12:39:51.221372,939fc566-61cd-47f0-a3ce-e2936fdcff73
3,1,2023-12-23,04:37:36.134901,16656,2023-12-23 14:49:40.302823,2023-12-23 19:27:39.406803,ba49324f-d317-4053-adf9-2b17b3f07594
4,3,2023-12-26,04:32:05.289251,16325,2023-12-26 14:57:10.220793,2023-12-26 19:34:36.971542,ba49324f-d317-4053-adf9-2b17b3f07594
...,...,...,...,...,...,...,...
11472,6,2022-06-16,06:47:59.975925,24479,2022-06-16 11:00:48.643935,2022-06-16 18:23:38.495290,766221e7-a753-444f-aa5a-ae76ce86d3fd
11473,6,2022-06-17,01:28:46.221537,5326,2022-06-17 17:15:05.221223,2022-06-17 18:56:00.840639,0a70277f-a7f9-401c-95fa-ed6d96ee32e0
11474,6,2022-06-16,05:08:03.166662,18483,2022-06-16 12:52:46.557742,2022-06-16 18:23:34.355309,0a70277f-a7f9-401c-95fa-ed6d96ee32e0
11475,6,2023-02-06,06:30:29.693768,23429,2023-02-06 10:14:00.538281,2023-02-06 16:52:37.606175,576473bb-0647-483e-b06a-a5ff6491b08b
11476,6,2022-04-20,07:48:04.922610,28084,2022-04-20 13:24:06.222380,2022-04-20 23:59:59,ac90eb79-233a-47e0-99c7-c8f7b8372a57

### 모든 행의 데이터가 같을 때 row 1개 남기고 나머지 삭제

In [4]:
# 중복 제거 전 행 개수
before = df_clean.shape[0]

# 중복 제거 (모든 컬럼 동일 → 1개만 남기기)
df_unique = df_clean.drop_duplicates(keep='first')

# 중복 제거 후 행 개수
after = df_unique.shape[0]

# 삭제된 개수
deleted = before - after

print("중복 제거 전:", before)
print("중복 제거 후:", after)
print("삭제된 행 개수:", deleted)

중복 제거 전: 10922
중복 제거 후: 10874
삭제된 행 개수: 48

In [5]:
df2 = df_unique.drop(['stay_time', 'stay_time_second'], axis=1)

df2

,site_id,date,first_enter_time,last_leave_time,user_uuid
0,1,2023-12-23,2023-12-23 16:11:25.345793,2023-12-23 17:25:32.233995,939fc566-61cd-47f0-a3ce-e2936fdcff73
1,1,2023-12-24,2023-12-24 16:10:45.668026,2023-12-24 20:53:34.842447,939fc566-61cd-47f0-a3ce-e2936fdcff73
2,1,2023-12-25,2023-12-25 10:19:47.087268,2023-12-25 12:39:51.221372,939fc566-61cd-47f0-a3ce-e2936fdcff73
3,1,2023-12-23,2023-12-23 14:49:40.302823,2023-12-23 19:27:39.406803,ba49324f-d317-4053-adf9-2b17b3f07594
4,3,2023-12-26,2023-12-26 14:57:10.220793,2023-12-26 19:34:36.971542,ba49324f-d317-4053-adf9-2b17b3f07594
...,...,...,...,...,...
11472,6,2022-06-16,2022-06-16 11:00:48.643935,2022-06-16 18:23:38.495290,766221e7-a753-444f-aa5a-ae76ce86d3fd
11473,6,2022-06-17,2022-06-17 17:15:05.221223,2022-06-17 18:56:00.840639,0a70277f-a7f9-401c-95fa-ed6d96ee32e0
11474,6,2022-06-16,2022-06-16 12:52:46.557742,2022-06-16 18:23:34.355309,0a70277f-a7f9-401c-95fa-ed6d96ee32e0
11475,6,2023-02-06,2023-02-06 10:14:00.538281,2023-02-06 16:52:37.606175,576473bb-0647-483e-b06a-a5ff6491b08b
11476,6,2022-04-20,2022-04-20 13:24:06.222380,2022-04-20 23:59:59,ac90eb79-233a-47e0-99c7-c8f7b8372a57

### 데이터 정리

In [6]:
# 각 유저별 동일날짜에 기록(row)이 2건 이상 있는 유저 수(+ 비율)
dup_counts = (
    df2.groupby(['user_uuid', 'date'])
       .size()  # row 개수
       .reset_index(name='row_count')
)

# 2건 이상인 경우 필터링
multi_record_users = dup_counts[dup_counts['row_count'] > 1]

# 유저 수 계산
n_multi_users = multi_record_users['user_uuid'].nunique()
total_users = df2['user_uuid'].nunique()
ratio = n_multi_users / total_users * 100

print(f"동일날짜 기록(row) 2건 이상 유저 수: {n_multi_users}")
print(f"전체 유저 수: {total_users}")
print(f"비율: {ratio:.2f}%")

동일날짜 기록(row) 2건 이상 유저 수: 103
전체 유저 수: 6207
비율: 1.66%

In [7]:
# 해당 유저들이 원본 데이터에서 차지하고 있는 데이터 비율
# 2건 이상 기록한 유저들의 user_id 집합
multi_user_ids = multi_record_users['user_uuid'].unique()

# 이 유저들이 차지하는 행(row) 수
multi_user_rows = df2[df2['user_uuid'].isin(multi_user_ids)].shape[0]

# 전체 행(row) 수
total_rows = df2.shape[0]

# 비율 계산
row_ratio = multi_user_rows / total_rows * 100

print(f"동일날짜에 2건 이상 기록한 유저가 차지하는 행 수: {multi_user_rows}")
print(f"전체 행 수: {total_rows}")
print(f"비율: {row_ratio:.2f}%")

동일날짜에 2건 이상 기록한 유저가 차지하는 행 수: 333
전체 행 수: 10874
비율: 3.06%

In [8]:
# 해당 유저들 타게팅으로 데이터 삭제
# 2건 이상 기록한 유저들의 user_id 집합
multi_user_ids = multi_record_users['user_uuid'].unique()

# 이 유저들의 행을 제외하고 새로운 데이터프레임 생성
df2_removed = df2[~df2['user_uuid'].isin(multi_user_ids)].reset_index(drop=True)

print(f"삭제 전 전체 행 수: {df2.shape[0]}")
print(f"삭제 후 전체 행 수: {df2_removed.shape[0]}")
print(f"삭제된 행 수: {df2.shape[0] - df2_removed.shape[0]}")

삭제 전 전체 행 수: 10874
삭제 후 전체 행 수: 10541
삭제된 행 수: 333

In [9]:
# 동일 날짜 2건 이상 유저 정리확인
# 동일 날짜별 row 개수 다시 계산
dup_counts_removed = (
    df2_removed.groupby(['user_uuid', 'date'])
    .size()
    .reset_index(name='row_count')
)

# 2건 이상 있는 경우 필터링
multi_record_users_removed = dup_counts_removed[dup_counts_removed['row_count'] > 1]

if multi_record_users_removed.empty:
    print("동일 날짜에 2건 이상 이력이 있는 유저는 더 이상 존재하지 않습니다.")
else:
    n_multi_users = multi_record_users_removed['user_uuid'].nunique()
    print(f"동일 날짜에 2건 이상 기록한 유저 수: {n_multi_users}")
    display(multi_record_users_removed.head())

동일 날짜에 2건 이상 이력이 있는 유저는 더 이상 존재하지 않습니다.

In [10]:
df2_removed

,site_id,date,first_enter_time,last_leave_time,user_uuid
0,1,2023-12-23,2023-12-23 16:11:25.345793,2023-12-23 17:25:32.233995,939fc566-61cd-47f0-a3ce-e2936fdcff73
1,1,2023-12-24,2023-12-24 16:10:45.668026,2023-12-24 20:53:34.842447,939fc566-61cd-47f0-a3ce-e2936fdcff73
2,1,2023-12-25,2023-12-25 10:19:47.087268,2023-12-25 12:39:51.221372,939fc566-61cd-47f0-a3ce-e2936fdcff73
3,1,2023-12-23,2023-12-23 14:49:40.302823,2023-12-23 19:27:39.406803,ba49324f-d317-4053-adf9-2b17b3f07594
4,3,2023-12-26,2023-12-26 14:57:10.220793,2023-12-26 19:34:36.971542,ba49324f-d317-4053-adf9-2b17b3f07594
...,...,...,...,...,...
10536,6,2022-06-16,2022-06-16 11:00:48.643935,2022-06-16 18:23:38.495290,766221e7-a753-444f-aa5a-ae76ce86d3fd
10537,6,2022-06-17,2022-06-17 17:15:05.221223,2022-06-17 18:56:00.840639,0a70277f-a7f9-401c-95fa-ed6d96ee32e0
10538,6,2022-06-16,2022-06-16 12:52:46.557742,2022-06-16 18:23:34.355309,0a70277f-a7f9-401c-95fa-ed6d96ee32e0
10539,6,2023-02-06,2023-02-06 10:14:00.538281,2023-02-06 16:52:37.606175,576473bb-0647-483e-b06a-a5ff6491b08b
10540,6,2022-04-20,2022-04-20 13:24:06.222380,2022-04-20 23:59:59,ac90eb79-233a-47e0-99c7-c8f7b8372a57

In [11]:
# 문자열에서 공백 뒤(시간)만 추출
df2_removed['first_enter_time'] = df2_removed['first_enter_time'].astype(str).str.split().str[-1]
df2_removed['last_leave_time']  = df2_removed['last_leave_time'].astype(str).str.split().str[-1]

df2_removed

,site_id,date,first_enter_time,last_leave_time,user_uuid
0,1,2023-12-23,16:11:25.345793,17:25:32.233995,939fc566-61cd-47f0-a3ce-e2936fdcff73
1,1,2023-12-24,16:10:45.668026,20:53:34.842447,939fc566-61cd-47f0-a3ce-e2936fdcff73
2,1,2023-12-25,10:19:47.087268,12:39:51.221372,939fc566-61cd-47f0-a3ce-e2936fdcff73
3,1,2023-12-23,14:49:40.302823,19:27:39.406803,ba49324f-d317-4053-adf9-2b17b3f07594
4,3,2023-12-26,14:57:10.220793,19:34:36.971542,ba49324f-d317-4053-adf9-2b17b3f07594
...,...,...,...,...,...
10536,6,2022-06-16,11:00:48.643935,18:23:38.495290,766221e7-a753-444f-aa5a-ae76ce86d3fd
10537,6,2022-06-17,17:15:05.221223,18:56:00.840639,0a70277f-a7f9-401c-95fa-ed6d96ee32e0
10538,6,2022-06-16,12:52:46.557742,18:23:34.355309,0a70277f-a7f9-401c-95fa-ed6d96ee32e0
10539,6,2023-02-06,10:14:00.538281,16:52:37.606175,576473bb-0647-483e-b06a-a5ff6491b08b
10540,6,2022-04-20,13:24:06.222380,23:59:59,ac90eb79-233a-47e0-99c7-c8f7b8372a57

In [12]:
def normalize_time_format(x):
    # NaN은 그대로 반환
    if pd.isna(x):
        return x
    
    # 문자열 변환
    x = str(x)
    
    # 23:59:59 처리 → .999999 붙이기
    if x == "23:59:59":
        return "23:59:59.999999"
    
    # 00:00:00 처리 → .000000 붙이기
    if x == "00:00:00":
        return "00:00:00.000000"
    
    # 마이크로초 없는 HH:MM:SS → .000000 붙이기
    if len(x) == 8:  # HH:MM:SS 형태
        return x + ".000000"
    
    # 이미 마이크로초 있는 값은 그대로
    return x

# 적용
df2_removed['first_enter_time'] = df2_removed['first_enter_time'].apply(normalize_time_format)
df2_removed['last_leave_time']  = df2_removed['last_leave_time'].apply(normalize_time_format)
df2_removed

,site_id,date,first_enter_time,last_leave_time,user_uuid
0,1,2023-12-23,16:11:25.345793,17:25:32.233995,939fc566-61cd-47f0-a3ce-e2936fdcff73
1,1,2023-12-24,16:10:45.668026,20:53:34.842447,939fc566-61cd-47f0-a3ce-e2936fdcff73
2,1,2023-12-25,10:19:47.087268,12:39:51.221372,939fc566-61cd-47f0-a3ce-e2936fdcff73
3,1,2023-12-23,14:49:40.302823,19:27:39.406803,ba49324f-d317-4053-adf9-2b17b3f07594
4,3,2023-12-26,14:57:10.220793,19:34:36.971542,ba49324f-d317-4053-adf9-2b17b3f07594
...,...,...,...,...,...
10536,6,2022-06-16,11:00:48.643935,18:23:38.495290,766221e7-a753-444f-aa5a-ae76ce86d3fd
10537,6,2022-06-17,17:15:05.221223,18:56:00.840639,0a70277f-a7f9-401c-95fa-ed6d96ee32e0
10538,6,2022-06-16,12:52:46.557742,18:23:34.355309,0a70277f-a7f9-401c-95fa-ed6d96ee32e0
10539,6,2023-02-06,10:14:00.538281,16:52:37.606175,576473bb-0647-483e-b06a-a5ff6491b08b
10540,6,2022-04-20,13:24:06.222380,23:59:59.999999,ac90eb79-233a-47e0-99c7-c8f7b8372a57

In [13]:
# 체류시간(초) 계산
df2_removed['stay_time_seconds'] = (
    pd.to_datetime(df2_removed['last_leave_time']) - pd.to_datetime(df2_removed['first_enter_time'])
).dt.total_seconds()

# 유저별 날짜순 정렬
df2_removed = df2_removed.sort_values(['user_uuid', 'date'])

# trial_day: 각 유저가 등장할 때마다 1씩 증가
df2_removed['trial_day'] = df2_removed.groupby('user_uuid').cumcount() + 1

# stay_time_second_total: 누적합
df2_removed['stay_time_second_total'] = df2_removed.groupby('user_uuid')['stay_time_seconds'].cumsum()

df2_removed

C:\Users\nuwba\AppData\Local\Temp\ipykernel_13856\1344919088.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(df2_removed['last_leave_time']) - pd.to_datetime(df2_removed['first_enter_time'])
C:\Users\nuwba\AppData\Local\Temp\ipykernel_13856\1344919088.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(df2_removed['last_leave_time']) - pd.to_datetime(df2_removed['first_enter_time'])

,site_id,date,first_enter_time,last_leave_time,user_uuid,stay_time_seconds,trial_day,stay_time_second_total
8890,6,2023-09-05,11:57:01.148452,17:59:45.443621,000590dc-046f-462b-8225-4c81a97b7166,21764.295169,1,21764.295169
2742,3,2021-09-30,16:31:14.683437,20:25:41.659501,000be14f-ba0f-4af6-bc2c-7b00dfcbc98c,14066.976064,1,14066.976064
2741,3,2021-10-01,19:30:20.712177,22:08:58.748107,000be14f-ba0f-4af6-bc2c-7b00dfcbc98c,9518.035930,2,23585.011994
2740,3,2021-10-02,13:41:08.211652,22:20:02.600559,000be14f-ba0f-4af6-bc2c-7b00dfcbc98c,31134.388907,3,54719.400901
10191,6,2023-11-15,09:44:07.947297,21:47:12.944689,0018e22d-a2cc-4e06-bca2-d6a041770f3b,43384.997392,1,43384.997392
...,...,...,...,...,...,...,...,...
10089,4,2023-11-02,00:31:56.960674,12:12:45.429876,ffce32ca-2efc-4485-b685-4b65811c2dcf,42048.469202,1,42048.469202
8663,6,2023-04-07,15:19:52.522611,18:09:40.334871,ffd287bc-2797-4788-82fa-6268c82e7fa9,10187.812260,1,10187.812260
8664,6,2023-04-08,15:26:32.505854,22:52:31.148930,ffd287bc-2797-4788-82fa-6268c82e7fa9,26758.643076,2,36946.455336
8662,6,2023-04-09,15:14:35.807629,21:07:42.050080,ffd287bc-2797-4788-82fa-6268c82e7fa9,21186.242451,3,58132.697787
8908,6,2022-01-13,13:20:42.835810,15:20:47.564240,fffbf2b3-7853-4c07-bd2a-aae686ac9013,7204.728430,1,7204.728430

In [14]:
df2_removed['trial_day'].value_counts()

trial_day
1    6104
2    3086
3    1284
4      67
Name: count, dtype: int64

In [17]:
# user_uuid와 trial_day 기준으로 정렬
df_sorted = df2_removed.sort_values(by=["user_uuid", "trial_day"], ascending=[True, True])

# 정렬된 결과 확인
df_sorted

,site_id,date,first_enter_time,last_leave_time,user_uuid,stay_time_seconds,trial_day,stay_time_second_total
8890,6,2023-09-05,11:57:01.148452,17:59:45.443621,000590dc-046f-462b-8225-4c81a97b7166,21764.295169,1,21764.295169
2742,3,2021-09-30,16:31:14.683437,20:25:41.659501,000be14f-ba0f-4af6-bc2c-7b00dfcbc98c,14066.976064,1,14066.976064
2741,3,2021-10-01,19:30:20.712177,22:08:58.748107,000be14f-ba0f-4af6-bc2c-7b00dfcbc98c,9518.035930,2,23585.011994
2740,3,2021-10-02,13:41:08.211652,22:20:02.600559,000be14f-ba0f-4af6-bc2c-7b00dfcbc98c,31134.388907,3,54719.400901
10191,6,2023-11-15,09:44:07.947297,21:47:12.944689,0018e22d-a2cc-4e06-bca2-d6a041770f3b,43384.997392,1,43384.997392
...,...,...,...,...,...,...,...,...
10089,4,2023-11-02,00:31:56.960674,12:12:45.429876,ffce32ca-2efc-4485-b685-4b65811c2dcf,42048.469202,1,42048.469202
8663,6,2023-04-07,15:19:52.522611,18:09:40.334871,ffd287bc-2797-4788-82fa-6268c82e7fa9,10187.812260,1,10187.812260
8664,6,2023-04-08,15:26:32.505854,22:52:31.148930,ffd287bc-2797-4788-82fa-6268c82e7fa9,26758.643076,2,36946.455336
8662,6,2023-04-09,15:14:35.807629,21:07:42.050080,ffd287bc-2797-4788-82fa-6268c82e7fa9,21186.242451,3,58132.697787
8908,6,2022-01-13,13:20:42.835810,15:20:47.564240,fffbf2b3-7853-4c07-bd2a-aae686ac9013,7204.728430,1,7204.728430

In [18]:
# 각 유저 별 trial_day의 1일차 때 first_enter_time과 trial_day 마지막 날 last_leave_time이 72시간 이 넘는 유저 수
#  유저별 첫 입실 시각과 마지막 퇴실 시각 구하기
user_time_range = df2_removed.groupby("user_uuid").agg(
    first_enter=("first_enter_time", "min"),
    last_leave=("last_leave_time", "max")
).reset_index()

# datetime 형변환
user_time_range["first_enter"] = pd.to_datetime(user_time_range["first_enter"])
user_time_range["last_leave"] = pd.to_datetime(user_time_range["last_leave"])

# 체류 기간 계산 (단위: 시간)
user_time_range["duration_hours"] = (user_time_range["last_leave"] - user_time_range["first_enter"]).dt.total_seconds() / 3600

# 72시간 이상인 유저
over_72_users = user_time_range[user_time_range["duration_hours"] >= 72]

# 결과 출력 (수 + 비율)
total_users = user_time_range["user_uuid"].nunique()
over_72_count = over_72_users["user_uuid"].nunique()
over_72_ratio = over_72_count / total_users * 100

print(f"72시간 이상 이용한 유저 수: {over_72_count}")
print(f"전체 유저 수: {total_users}")
print(f"비율: {over_72_ratio:.2f}%")

C:\Users\nuwba\AppData\Local\Temp\ipykernel_13856\2806423236.py:9: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  user_time_range["first_enter"] = pd.to_datetime(user_time_range["first_enter"])
C:\Users\nuwba\AppData\Local\Temp\ipykernel_13856\2806423236.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  user_time_range["last_leave"] = pd.to_datetime(user_time_range["last_leave"])

72시간 이상 이용한 유저 수: 0
전체 유저 수: 6104
비율: 0.00%

In [19]:
# 각 유저별 trial_day 시작날 기준 72시간 오버된 유저 수(+ 비율)

# 유저별 첫 날짜와 마지막 날짜 구하기
user_date_range = df2_removed.groupby("user_uuid").agg(
    first_date=("date", "min"),
    last_date=("date", "max")
).reset_index()

# datetime 변환
user_date_range["first_date"] = pd.to_datetime(user_date_range["first_date"])
user_date_range["last_date"] = pd.to_datetime(user_date_range["last_date"])

# 기간 계산 (단위: 일)
user_date_range["duration_days"] = (user_date_range["last_date"] - user_date_range["first_date"]).dt.days

# 72시간(3일) 이상인 유저
over_72_users = user_date_range[user_date_range["duration_days"] >= 3]

# 전체 유저 수, 조건 만족 유저 수, 비율
total_users = user_date_range["user_uuid"].nunique()
over_72_count = over_72_users["user_uuid"].nunique()
over_72_ratio = over_72_count / total_users * 100

print(f"72시간(3일) 이상 이용한 유저 수: {over_72_count}")
print(f"전체 유저 수: {total_users}")
print(f"비율: {over_72_ratio:.2f}%")

72시간(3일) 이상 이용한 유저 수: 134
전체 유저 수: 6104
비율: 2.20%

In [20]:
# 72시간(3일) 이상 이용한 유저 ID 리스트
over_72_user_ids = over_72_users["user_uuid"].unique()

# 해당 유저들 제거
df_removed_cleaned = df2_removed[~df2_removed["user_uuid"].isin(over_72_user_ids)].copy()

print("삭제 전 행 수:", len(df2_removed))
print("삭제 후 행 수:", len(df_removed_cleaned))
print("삭제된 유저 수:", len(over_72_user_ids))

삭제 전 행 수: 10541
삭제 후 행 수: 10095
삭제된 유저 수: 134

In [21]:
df_removed_cleaned

,site_id,date,first_enter_time,last_leave_time,user_uuid,stay_time_seconds,trial_day,stay_time_second_total
8890,6,2023-09-05,11:57:01.148452,17:59:45.443621,000590dc-046f-462b-8225-4c81a97b7166,21764.295169,1,21764.295169
2742,3,2021-09-30,16:31:14.683437,20:25:41.659501,000be14f-ba0f-4af6-bc2c-7b00dfcbc98c,14066.976064,1,14066.976064
2741,3,2021-10-01,19:30:20.712177,22:08:58.748107,000be14f-ba0f-4af6-bc2c-7b00dfcbc98c,9518.035930,2,23585.011994
2740,3,2021-10-02,13:41:08.211652,22:20:02.600559,000be14f-ba0f-4af6-bc2c-7b00dfcbc98c,31134.388907,3,54719.400901
10191,6,2023-11-15,09:44:07.947297,21:47:12.944689,0018e22d-a2cc-4e06-bca2-d6a041770f3b,43384.997392,1,43384.997392
...,...,...,...,...,...,...,...,...
10089,4,2023-11-02,00:31:56.960674,12:12:45.429876,ffce32ca-2efc-4485-b685-4b65811c2dcf,42048.469202,1,42048.469202
8663,6,2023-04-07,15:19:52.522611,18:09:40.334871,ffd287bc-2797-4788-82fa-6268c82e7fa9,10187.812260,1,10187.812260
8664,6,2023-04-08,15:26:32.505854,22:52:31.148930,ffd287bc-2797-4788-82fa-6268c82e7fa9,26758.643076,2,36946.455336
8662,6,2023-04-09,15:14:35.807629,21:07:42.050080,ffd287bc-2797-4788-82fa-6268c82e7fa9,21186.242451,3,58132.697787
8908,6,2022-01-13,13:20:42.835810,15:20:47.564240,fffbf2b3-7853-4c07-bd2a-aae686ac9013,7204.728430,1,7204.728430

In [ ]:
# 1382개의 데이터가 삭제됨
df_removed_cleaned['trial_day'].value_counts()

trial_day
1    5970
2    2952
3    1173
Name: count, dtype: int64

In [ ]:
# 각 유저의 trial_day 가 가장 큰 값을 기준으로 유저별로 한 줄만 생성한 df 생성
# 기존 df_removed_cleaned여기서 유저별로 가져올 데이터는 ['site_id', 'date', 'stay_time_second_total', 'trial_day']

# 각 유저별 trial_day가 가장 큰 값 찾기
last_trial_df = (
    df_removed_cleaned
    .sort_values(["user_uuid", "trial_day"])  # 정렬
    .groupby("user_uuid")                     # 유저별 그룹
    .tail(1)                                  # 각 그룹에서 마지막 행만
)

# 필요한 컬럼만 추출
last_trial_df = last_trial_df[['user_uuid', 'site_id', 'date', 'stay_time_second_total', 'trial_day']]

# 확인
print("생성된 행 수:", len(last_trial_df))

생성된 행 수: 5970

In [25]:
last_trial_df

,user_uuid,site_id,date,stay_time_second_total,trial_day
8890,000590dc-046f-462b-8225-4c81a97b7166,6,2023-09-05,21764.295169,1
2740,000be14f-ba0f-4af6-bc2c-7b00dfcbc98c,3,2021-10-02,54719.400901,3
10192,0018e22d-a2cc-4e06-bca2-d6a041770f3b,6,2023-11-16,77870.325478,2
9487,002606d9-38ca-48f3-910c-cbfada9a9109,17,2023-01-08,25265.302291,2
3018,002a7570-90dd-4cab-b0aa-b0e40f7ef27a,5,2021-09-10,25752.692257,2
...,...,...,...,...,...
8749,ffc40f65-7634-4272-b73b-55d40be035ff,6,2022-10-22,59534.914818,3
5036,ffcb7950-d150-40ae-a6bf-f85f5c2b9702,2,2022-04-27,30242.027760,2
10089,ffce32ca-2efc-4485-b685-4b65811c2dcf,4,2023-11-02,42048.469202,1
8662,ffd287bc-2797-4788-82fa-6268c82e7fa9,6,2023-04-09,58132.697787,3
8908,fffbf2b3-7853-4c07-bd2a-aae686ac9013,6,2022-01-13,7204.728430,1

In [27]:
last_trial_df['user_uuid'].nunique()

5970

In [ ]:
last_trial_df = last_trial_df.rename(columns={"date" : "last_trial_date"})

last_trial_df

# user_uuid	/ last_site_id / |★first_trial_date★ / last_trial_date| / stay_time_second_total / trial_day / 
# ★check_in_total_count★ / ★check_out_total_count★
# ★trial_gap★ / ★start_trial_year★ / ★start_trial_month★ / ★start_trial_hour★ / ★start_trial_day_of_week★
# ★final_trial_year★ / ★final_trial_month★ / ★final_trial_hour★ / ★final_trial_day_of_week★
# ★area_pyeong★ / ★payment★

,user_uuid,site_id,last_trial_date,stay_time_second_total,trial_day
8890,000590dc-046f-462b-8225-4c81a97b7166,6,2023-09-05,21764.295169,1
2740,000be14f-ba0f-4af6-bc2c-7b00dfcbc98c,3,2021-10-02,54719.400901,3
10192,0018e22d-a2cc-4e06-bca2-d6a041770f3b,6,2023-11-16,77870.325478,2
9487,002606d9-38ca-48f3-910c-cbfada9a9109,17,2023-01-08,25265.302291,2
3018,002a7570-90dd-4cab-b0aa-b0e40f7ef27a,5,2021-09-10,25752.692257,2
...,...,...,...,...,...
8749,ffc40f65-7634-4272-b73b-55d40be035ff,6,2022-10-22,59534.914818,3
5036,ffcb7950-d150-40ae-a6bf-f85f5c2b9702,2,2022-04-27,30242.027760,2
10089,ffce32ca-2efc-4485-b685-4b65811c2dcf,4,2023-11-02,42048.469202,1
8662,ffd287bc-2797-4788-82fa-6268c82e7fa9,6,2023-04-09,58132.697787,3
8908,fffbf2b3-7853-4c07-bd2a-aae686ac9013,6,2022-01-13,7204.728430,1

In [32]:
# CSV 저장 (UTF-8 인코딩)
last_trial_df.to_csv("trial_visit_info_user.csv", index=False, encoding="utf-8-sig")